<div class="coinatiner">
  <div class="row">
    <div class="col-5">
      <select #coinslist class="form-control">
        <option *ngFor="let coin of coinsNames" value="{{coin.id}}">{{coin.symbol}}</option>
      </select>
    </div>
    <div class="col-1">
      <button class="btn btn-outline-success" (click)="addCoin()">Add coin</button>
    </div>
    <div class="col-1">
      <button (click)="sortByPrice()">Sort by price</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="input-group">
        <div *ngFor="let coin of cryptoArray">
          <button class="btn btn-outline-danger" type="button" (click)="deleteCoinByName(coin.name)">{{coin.name}}
            X</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="cryptoArray.length > 0">
    <div class="col-6">
      <app-crypto-chart></app-crypto-chart>
    </div>
    <div class="col-6">
      <app-crypto></app-crypto>
    </div>
  </div>
</div>